<div class="row justify-content-center">
    <div>  
        <input type="string" name="input" #input/>
        <button (click)="search(input.value)" class="btn btn-primary">Search</button><hr>
    </div>
</div>

<div class="row justify-content-center">
    <ngb-pagination [collectionSize]="totalProducts" [pageSize]="productsPerPage" [(page)]="page"
    [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="false"
    (pageChange)="search(input.value)"></ngb-pagination>
</div>

<div class="row justify-content-center" *ngIf="input.value">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="related_product_item" *ngFor="let product of products">
                <div class="related_product_pic">
                    <img [src]="product.thumbnail">
                </div>
                <div class="related_product_content">
                    <a [routerLink]="['/product-details', product.id]">{{product.title}}</a>
                    <h6>{{product.price}}</h6><hr>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
